:host {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.home {
  padding: 15%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
